.mat-row:hover {
  background-color: rgb(250, 215, 215);
}

.score-cell {
  width:23px;
  margin: 3px;
 }

 .fbscore-cell {
  width:33px;
  margin: 3px;
 }
 /* Remove stepper arrows from number input type */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
