<h2>Match Score- {{match.name}}-{{match.datePlayed}}</h2>

<form [formGroup]="scoreForm" (ngSubmit)="onSubmit()">
  <div formArrayName="arr" *ngFor="let a of scoreForm.get('arr')['controls']; let i = index">
    <div [formGroupName]="i" style="margin-bottom: 10px;">

      <input type="text" name="name" formControlName="name">
      <label> Front {{frontTot[i]}}.</label>
      <label> Back {{backTot[i]}}.</label>
      <label> Score {{totTot[i]}}.</label>

      <label for="score"> Score:</label>
      <input class="fbscore-cell" type="number" formControlName="score">
      <td formArrayName="scores" *ngFor="let _ of scores(i).controls; let g = index">
        <input class="score-cell" type="number" min = "1" (keyup)="onKeyUp($event, g, i)" [formControlName]="g"
        />
      </td>
      <br>
    </div>
  </div>
  <br>
  <button type="submit">Submit</button>
</form>
