<h2>Score Info</h2>
<mat-icon color="primary" (click)="indexCalc()">menu</mat-icon>
<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>
<div >
  <div class="row">
    <div class="col-md-12">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange) = "ngAfterViewInit()" matSortActive="name" matSortDirection="asc">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  Score </th>
          <td mat-cell *matCellDef="let element"> {{element.score}} </td>
        </ng-container>

        <ng-container matColumnDef="postedScore">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Post </th>
          <td mat-cell *matCellDef="let element"> {{element.postedScore}} </td>
        </ng-container>

        <ng-container matColumnDef="scRating">
          <th mat-header-cell *matHeaderCellDef> Rating </th>
          <td mat-cell *matCellDef="let element"> {{element.scRating}} </td>
        </ng-container>

        <ng-container matColumnDef="scSlope">
          <th mat-header-cell *matHeaderCellDef> Slope </th>
          <td mat-cell *matCellDef="let element"> {{element.scSlope}} </td>
        </ng-container>

        <ng-container matColumnDef="usgaIndexForTodaysScore">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Today's Differential </th>
          <td mat-cell *matCellDef="let element"> {{element.usgaIndexForTodaysScore | number: '1.1-1'}} </td>
        </ng-container>

        <ng-container matColumnDef="usgaIndex">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> New Index </th>
          <td mat-cell *matCellDef="let element"> {{element.usgaIndex | number: '1.1-1'}} </td>
        </ng-container>

        <ng-container matColumnDef="datePlayed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.datePlayed | date: 'EEE MMM dd yyyy'}} </td>
        </ng-container>
        
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element; let i = index;">
            <mat-icon *ngIf="element._id"  color="primary" (click)="onViewScore(element)">pageview</mat-icon>
            <mat-icon *ngIf="element._id" color="primary" (click)="onRecordScore(element)">edit</mat-icon>
            <mat-icon color="warn" (click)="onDelete(i, element)">delete</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

