<input type="text" [(ngModel)]="queryString" id="search" placeholder="Search Last Name">
<i class="glyphicon glyphicon-search"></i> Playing: {{players}}
<div class="container">
  <div class="row">
    <div *ngFor="let member of members | searchfilter: 'lastName' : queryString">
      <div class="col aligner aligner-item--top card card-block" [ngClass]="{'card-border': member.isPlaying==true}">
        <p>{{member.firstName}} - {{member.usgaIndex}}</p>
        <p>{{member.lastName}}</p>
        <label><input type="checkbox" [checked]="member.isPlaying" (click)="playerinMatch(member)">
          <span *ngIf="member.isPlaying==true">Playing</span>
        </label>
      </div>
    </div>
  </div>
</div>
