.aligner {
  display: flex;
  align-items: left;
  justify-content: center;
  padding: 12px;
}
.aligner-item--top {
  align-self: flex-start;
}
.card-block {
  align-content:  space-around;
  background-color: #6272af;
  border: solid 5px #6272af;
  margin: 5px;
  font-size: 14px;
  color: white;
  text-align: left;

}
.card-border {
  border: solid 5px black;
}
p {
  margin: 0;
}
