<!-- <div *ngIf="member" class="form-horizontal">
  <h2>{{member.firstName}} {{member.lastName}}</h2>
    <div class="form-group">
      <label class="col-sm-2 control-label"> First Name: </label>
      <div class="col-sm-10">
        <input class="form-control" [readonly]=!update [(ngModel)]="member.firstName" placeholder="First name"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Last Name: </label>
      <div class="col-sm-10">
        <input class="form-control" [readonly]=!update [(ngModel)]="member.lastName" placeholder="LastName"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Current HCap: </label>
      <div class="col-sm-10">
        <input class="form-control" [readonly]=!update [(ngModel)]="member.currentHCap" placeholder="Current HCap"/>
      </div>
    </div>
    <div *ngIf="create" class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" [disabled]='!update' (click)="updateMember()" class="btn btn-primary">Update</button>
        <button type="button" [disabled]='!delete' (click)="deleteMember()" class="btn btn-danger">Delete</button>
      </div>
    </div>
    <div *ngIf="!create" class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" (click)="back()" class="btn btn-primary">Return</button>
      </div>
    </div>
</div> -->



