<!-- <div class="next-steps">
  <h2 class="my-5 text-center">What can I do next?</h2>

  <div class="row">
    <div class="col-md-5 mb-4">
      <h6 class="mb-3">
        <a href="https://auth0.com/docs/connections">
          <fa-icon [icon]="faLink"></fa-icon>
          Configure other identity providers
        </a>
      </h6>
      <p>
        Auth0 supports social providers as Facebook, Twitter, Instagram and
        100+, Enterprise providers as Microsoft Office 365, Google Apps, Azure,
        and more. You can also use any OAuth2 Authorization Server.
      </p>
    </div>

    <div class="col-md"></div>

    <div class="col-md-5 mb-4">
      <h6 class="mb-3">
        <a href="https://auth0.com/docs/multifactor-authentication">
          <fa-icon [icon]="faLink"></fa-icon>
          Enable Multi-Factor Authentication
        </a>
      </h6>
      <p>
        Add an extra layer of security by enabling Multi-factor Authentication,
        requiring your users to provide more than one piece of identifying
        information. Push notifications, authenticator apps, SMS, and DUO
        Security are supported.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 mb-4">
      <h6 class="mb-3">
        <a href="https://auth0.com/docs/anomaly-detection">
          <fa-icon [icon]="faLink"></fa-icon>
          Anomaly Detection
        </a>
      </h6>
      <p>
        Auth0 can detect anomalies and stop malicious attempts to access your
        application. Anomaly detection can alert you and your users of
        suspicious activity, as well as block further login attempts.
      </p>
    </div>

    <div class="col-md"></div>

    <div class="col-md-5 mb-4">
      <h6 class="mb-3">
        <a href="https://auth0.com/docs/rules">
          <fa-icon [icon]="faLink"></fa-icon>
          Learn About Rules
        </a>
      </h6>
      <p>
        Rules are JavaScript functions that execute when a user authenticates to
        your application. They run once the authentication process is complete,
        and you can use them to customize and extend Auth0's capabilities.
      </p>
    </div>
  </div>
</div> -->
<html>
<head>
<style>
table, th, td {
  border: 1px solid black; width: 61px; height: 35px;
}

</style>
</head>
<body>

<p><strong>Rochester Jan 23, 2002</strong></p>
<p>&nbsp;</p><p><strong>Blank Golf Scorecard</strong></p>
<table style =" table-layout:fixed; " >

<tbody>
<tr>
<td>
<p><strong>Hole</strong></p>
</td>
<td style="border-color: rgb(190, 19, 19); width: 30px;">
<p><strong>1</strong></p>
</td>
<td>
<p><strong>2</strong></p>
</td>
<td>
<p><strong>3</strong></p>
</td>
<td>
<p><strong>4</strong></p>
</td>
<td>
<p><strong>5</strong></p>
</td>
<td>
<p><strong>6</strong></p>
</td>
<td>
<p><strong>7</strong></p>
</td>
<td>
<p><strong>8</strong></p>
</td>
<td>
<p><strong>9</strong></p>
</td>
<td>
<p><strong>out</strong></p>
</td>
<td>
<p><strong>10</strong></p>
</td>
<td>
<p><strong>11</strong></p>
</td>
<td>
<p><strong>12</strong></p>
</td>
<td>
<p><strong>13</strong></p>
</td>
<td>
<p><strong>14</strong></p>
</td>
<td>
<p><strong>15</strong></p>
</td>
<td>
<p><strong>16</strong></p>
</td>
<td>
<p><strong>17</strong></p>
</td>
<td>
<p><strong>18</strong></p>
</td>
<td>
<p><strong>In</strong></p>
</td>
<td>
<p><strong>Total</strong></p>
</td>
<td>
<p><strong>HCP</strong></p>
</td>
<td>
<p><strong>NET</strong></p>
</td>
</tr>
<tr>
<td>
<p><strong>Blue</strong></p>
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="border-color: black; width: 121px; height: 35px;">&nbsp;</td>
<td style="border-color: black; width: 121px; height: 35px;">&nbsp;</td>
<td style="border-color: black; width: 121px; height: 35px;">&nbsp;</td>
<td style="border-color: black; width: 121px; height: 35px;">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<p><strong>White</strong></p>
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<p><strong>Men&rsquo;s Handicap</strong></p>
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<p><strong>Par</strong></p>
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<p><strong>Pace of Play</strong></p>
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<p><strong>Women&rsquo;s Handicap</strong></p>
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<p><strong>Red</strong></p>
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<p><strong>Gold</strong></p>
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<table width="964">
<tbody>
<tr>
<td width="68">
<p><strong>Date</strong>:</p>
</td>
<td width="125">&nbsp;</td>
<td width="57">
<p><strong>Score</strong>:</p>
</td>
<td width="369">&nbsp;</td>
<td width="61">
<p><strong>Attest</strong>:</p>
</td>
<td width="284">&nbsp;</td>
</tr>
</tbody>
</table>
