<h2>MatchPair</h2>

<div class="row">
  <div class="column" *ngFor="let item of todaysLineUp[index] | keyvalue">
    <table>
      <tr *ngIf="item.value.playerA && item.key < 2">
        <th>Name</th>
        <th>Index</th>
        <th>HCap</th>
      </tr>

      <!-- *ngFor="let item of objectList | keyvalue"
  item.key # refers to the keys (134, 135...) in your example
  item.value # refers to the object for each key -->

      <tr *ngIf="item.value.playerA">
        <td> {{item.value.playerA.fullName}}</td>
        <td>{{item.value.playerA.usgaIndex}}</td>
        <td>{{item.value.playerA.coursePlayerHandicap}}</td>
      </tr>
      <tr *ngIf="item.value.playerB">
        <td>{{item.value.playerB.fullName}}</td>
        <td>{{item.value.playerB.usgaIndex}}</td>
        <td>{{item.value.playerB.coursePlayerHandicap}}</td>
      </tr>
    </table>
  </div>
</div>
<mat-icon *ngIf="index<3" (click)="onSelect()">album</mat-icon>

<mat-icon *ngIf="index==3" color = "warn">stop</mat-icon>
<a *ngIf="index==3" color = "warn">No more spins</a>
<mat-icon *ngIf="index<3" (click)="onLock()">lock</mat-icon>

