<h2>MatchPair</h2>
{{todaysLineUp[0]| json}}
<div class="row">
  <div class="column" *ngFor="let item of todaysLineUp[index] | keyvalue">
    <table>
      <tr *ngIf="item.value.playerA && item.key < 2">
        <th>Name</th>
        <th>Index</th>
        <th>HCap</th>
      </tr>

      <tr *ngIf="item.value.playerA">
        <td> {{item.value.playerA.fullName}}</td>
        <td>{{item.value.playerA.usgaIndex | number: '1.1-1'}}</td>
        <td>{{item.value.playerA.handicap | number: '1.1-1'}}</td>
      </tr>
      <tr *ngIf="item.value.playerB">
        <td>{{item.value.playerB.fullName}}</td>
        <td>{{item.value.playerB.usgaIndex | number: '1.1-1'}}</td>
        <td>{{item.value.playerB.handicap | number: '1.1-1'}}</td>
      </tr>
    </table>
  </div>
</div>

<mat-icon *ngIf="index<3" (click)="onSelect()">album</mat-icon>
<mat-icon *ngIf="index==3" color = "warn">stop</mat-icon>
<a *ngIf="index==3" color = "warn">No more spins</a>
<mat-icon *ngIf=" !lineUpLocked" (click)="onLock()">lock</mat-icon>
<mat-icon *ngIf="lineUpLocked" (click)="onUnLock()">lock_open</mat-icon>
<mat-icon (click)="onDrag()">drag_handle</mat-icon>

