.mat-row {
  height: auto;
  vertical-align: top;
}

.mat-cell {
  padding: 6px 6px 4px 4px;
  text-align: right;
  border-right: 1px solid black;
  border: 1px solid black;
  /* word-wrap: break-word; */
  max-width: 55px;
  text-align: top;
  font-size: 12px;
}
.mat-header-cell {
  padding: 4px 4px 4px 4px;
  text-align: right;
  border-right: 1px solid black;
  font-size: 12px;
  font-weight: bold;
  background-color: lightgrey;

}
.mat-name-cell {
  padding: 8px 8px 2px 4px;
  text-align: left;
  border-right: 1px solid black;
  /* width: 300px;  not working */
}
.mat-name-header-cell {
  padding: 4px 4px 4px 4px;
  text-align: left;
  border-right: 1px solid black;
}
.mat-header-row {
  height: auto;
  vertical-align: bottom;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-right: 1px solid black;
}
.mat-nassua-row {
  height: auto;
  vertical-align: bottom;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-right: 1px solid black;
}
table {
  border-collapse: separate;
  border-spacing: 0 2px;
  /* font-family: 'Raleway', sans-serif; No effect */
  /* width: 100%;  No effect */
}
.tableHeaderCellDiv {
  resize: horizontal;
  overflow:hidden;
}
td.diagonalRising
{
	background: linear-gradient(to right bottom, #ffffff 0%,#ffffff 49.9%,#000000 50%,#000000 51%,#ffffff 51.1%,#ffffff 100%);
}

