<div class="navbar-nav mr-auto">
  <div class="nav-item">
    <a routerLink="/" class="nav-link" routerLinkActive="router-link-exact-active"
      [routerLinkActiveOptions]="{ exact: true }">
      Home
    </a>
  </div>
  <div class="nav-item">
    <a routerLink="/members" class="nav-link" routerLinkActive="router-link-exact-active">
      Members
    </a>
  </div>
  <div class="nav-item">
    <a routerLink="/scorecards" class="nav-link" routerLinkActive="router-link-exact-active">
      Scorecards
    </a>
  </div>
  <div class="nav-item">
    <a routerLink="/matches" class="nav-link" routerLinkActive="router-link-exact-active">
      Matches
    </a>
  </div>
  <div class="nav-item">
    <a routerLink="/results" class="nav-link" routerLinkActive="router-link-exact-active">
      Results
    </a>
  </div>
  <div class="nav-item">
    <a routerLink="/scores" class="nav-link" routerLinkActive="router-link-exact-active">
      Scores
    </a>
  </div>
  <div class="nav-item">
    <a routerLink="/Index" class="nav-link" routerLinkActive="router-link-exact-active">
      Index
    </a>
  </div>
  <div class="nav-item">
    <a routerLink="/profile" class="nav-link" routerLinkActive="router-link-exact-active">
      Profile
    </a>
  </div>

  <!-- <div class="nav-item">
    <a
      routerLink="/external-api"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
    >
      External API
    </a>
  </div> -->
</div>
