<div *ngIf="!hidenewMember">
  <h2>New Member</h2>
  <app-members-mat-edit
    (submitAddMemberEvent)="onSubmitAddMemberEvent($event)"
    (cancelMemberEvent)="onCancelMemberEvent()">
  </app-members-mat-edit>
</div>

<div *ngIf="selectedMember && hidenewMember">
  <h2>Edit Member</h2>
  <app-members-mat-edit
    (updateMemberEvent)="onUpdateMemberEvent($event)"
    (cancelMemberEvent)="onCancelMemberEvent()"
    [member]="selectedMember">
  </app-members-mat-edit>
</div>

<app-members-mat-list *ngIf="!selectedMember && hidenewMember"
  (SelectMemberEvent)="onSelectMember($event)"
  (DeleteMemberEvent)="onDeleteMemberEvent($event)">
</app-members-mat-list>
