<div *ngIf="!hideNewMatch">
  <h2>New Match</h2>
  <app-matches-mat-edit (submitAddMatchEvent)="onSubmitAddMatchEvent($event)">
  </app-matches-mat-edit>
</div>
<ng-container *ngIf="_reload">
  <div *ngIf="selectedMatch && hideNewMatch && hideScoreMatch && hideScoreESATotalMatch">
    <h2>Edit Match</h2>
    <app-matches-mat-edit (updateMatchEvent)="onUpdateMatchEvent($event)" [match]="selectedMatch"
      (pairMatchEvent)="onPairMatchEvent()">
    </app-matches-mat-edit>
    <div *ngIf=!hideMemberBlock>
      <app-member-block [match]="selectedMatch">
      </app-member-block>
    </div>
    <div *ngIf=!hidePairMatch>
      <app-match-pair [match]="selectedMatch" (lockMatchEvent)="onLockMatchEvent($event)"
        (dragMatchEvent)="onDragMatchEvent($event)">
      </app-match-pair>
    </div>
    <div>
      <div *ngIf=!hideDrag>
        <app-match-drop-drag (draggedMatchEvent)="onDraggedMatchEvent($event)"
          (lockMatchEvent)="onLockMatchEvent($event)" [match]="selectedMatch">
        </app-match-drop-drag>
      </div>
    </div>
  </div>
  <div *ngIf=!hideScoreMatch>
    <app-match-score [match]="selectedMatch" (UpdateScoresEvent)="onUpdateScoresEvent($event)">
      ></app-match-score>
  </div>
  <div *ngIf=!hideScoreESATotalMatch>
    <app-match-score-esa-total [match]="selectedMatch">
    </app-match-score-esa-total>
  </div>
</ng-container>

<div *ngIf="!selectedMatch && hideNewMatch && hideScoreMatch && hideSCPrint && hideViewMatch">
  <app-matches-mat-list (SelectMatchEvent)="onSelectMatchEvent($event)" (ScoreMatchEvent)="onScoreMatchEvent($event)"
    (PrintMatchEvent)="onPrintMatchEvent($event)" (ScoreESATotalEvent)="onScoreESATotalEvent($event)"
    (UnLockMatchEvent)="onUnLockMatchEvent($event)" (DeleteMatchEvent)="onDeleteMatchEvent($event)"
    (ViewMatchEvent)="onViewMatchEvent($event)" [matches]="matches">
  </app-matches-mat-list>
</div>
<div *ngIf="!hideSCPrint">
  <app-matches-print-scorecards [match]="selectedMatch">
  </app-matches-print-scorecards>

</div>
<div *ngIf=" !hideViewMatch">
  <app-match-view (ReturnToListMatchEvent)="onReturnMatchEvent()"></app-match-view>
</div>