<div *ngIf="!hidenewMatch">
  <h2>New Match</h2>
  <app-matches-mat-edit (submitAddMatchEvent)="onSubmitAddMatchEvent($event)">
  </app-matches-mat-edit>
</div>

<div *ngIf="selectedMatch && hidenewMatch">
  <h2>Edit Match</h2>
  <app-matches-mat-edit
    (updateMatchEvent)="onUpdateMatchEvent($event)"
   [match]="selectedMatch"
   (pairMatchEvent) = "onPairMatchEvent()"
   (lockMatchEvent) = "onLockMatchEvent()">
  </app-matches-mat-edit>
  <div *ngIf=!hideMemberBlock>
    <app-member-block [match]="selectedMatch">
    </app-member-block>
  </div>
  <div *ngIf=!hidePairMatch>
    <app-match-pair>
    </app-match-pair>
  </div>
</div>

<app-matches-mat-list *ngIf="!selectedMatch && hidenewMatch"
  (SelectMatchEvent)="onSelectMatchEvent($event)"
  (DeleteMatchEvent)="onDeleteMatchEvent($event)">
</app-matches-mat-list>
