<!-- <div *ngIf="!hidenewScore">
  <h2>New Score</h2>
  <app-scores-mat-edit
    (submitAddScoreEvent)="onSubmitAddScoreEvent($event)">
  </app-scores-mat-edit>
</div> -->

<div *ngIf="selectedScore && hidenewScore">
  <h2>Score Detail</h2>
  <app-scores-mat-view *ngIf="selectedScore && hidenewScore" (CloseScoreEvent)="onCloseScoreEvent($event)"
    [score]="selectedScore">
  </app-scores-mat-view>
</div>
<div *ngIf="selectedScore && !hidenewScore">
  <h2>Score Input</h2>
  <app-scores-mat-edit (UpdateScoreEvent) = "onUpdateScoreEvent($event) " [allPlayerScores]="selectedScore"></app-scores-mat-edit>
  <app-scores-mat-indexes [allPlayerScores] ='selectedScore'></app-scores-mat-indexes>
</div>
<app-scores-mat-list *ngIf="!selectedScore && hidenewScore" (ViewScoreEvent)="onSelectScore($event)"
  (RecordScoreEvent)="onRecordScoreEvent($event)" (DeleteScoreEvent)="onDeleteScoreEvent($event)">
</app-scores-mat-list>
