<!-- Title group  -->

<!-- Form -->

<div class="inner-wrapper">
  <form [formGroup]="memberForm1">
    <div class="controlers-wrapper">
      Name
      <mat-form-field class="example-full-width">
        <input matInput placeholder="firstName" formControlName="firstName" />
        <mat-error *ngIf="handleError('firstName', 'required')">
          You must provide a<strong>first name</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="lastName" formControlName="lastName" />
        <mat-error *ngIf="handleError('lastName', 'required')">
          You must provide a<strong>last name</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="usgaIndex" formControlName="usgaIndex" />
        <mat-error *ngIf="handleError('email', 'required')">
          You must provide a<strong>usgaIndex</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="email" formControlName="email" />
        <mat-error *ngIf="handleError('email', 'required')">
          You must provide a<strong>email</strong>
        </mat-error>
      </mat-form-field>
    </div>

  </form>
  <!-- Submit & Reset -->
  <button *ngIf="member._id" mat-raised-button color="primary" (click)="updateMemberForm()">
    Update
  </button>
  <button *ngIf="!member._id" id="addbtn1" mat-raised-button color="primary" (click)="addMemberForm()">
    Add
  </button>
</div>
